.container {

    width: 100%;
    max-height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(22, 21, 21);
    background: linear-gradient(180deg, rgba(22, 21, 21, 1) 3%, rgba(35, 33, 38, 1) 91%);
}

.container h1 {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;



}

.container main {
    height: 90%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    row-gap: 20px;
    column-gap: 20px;

    padding: 60px;

}