.container {
    display: flex;
    max-width: 1200px;



}

.about {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 5%;


    line-height: 35px;
    font-size: 22px;
    font-family: cursive;

}

.about h2 {

    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.about p {
    margin-top: 50px;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.about button {

    height: 50px;

    font-size: 16px;


    padding: 5px;
    background: linear-gradient(135deg, #24ff72, #2196F3);
    color: white;
    border: none;
    border-radius: 5px;

    margin-top: 50px;



}

.about button {
    cursor: pointer;
}

.about button:hover {
    background: linear-gradient(135deg, #2196F3, #24ff72);
    transition: all .5s;
    animation-name: changecolor;
    animation-duration: 4s;
}

@keyframes changecolor {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }

}

.photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 50%;
}