.container {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 210px;
    width: 300px;
    overflow: hidden;
    position: relative;

    border-radius: 10px;

    box-shadow: 7px 8px 10px 2px black;

}

.container:hover {
    cursor: pointer;
}

.readMe {
    position: absolute;
    top: 250px;
    height: 90%;
    width: 100%;

    transition: all 1s;
    ;
    padding: 5px;
    color: white;
    border-radius: 5px;

    text-align: center;
    font-size: 15px;
    font-weight: bolder;

}

.container:hover .readMe {
    background: rgb(39, 186, 182);
    background: linear-gradient(360deg, rgba(38, 40, 40, 0.894) 57%, rgba(12, 237, 102, 0) 93%);









    top: 20px;


}


.container h2 {

    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    text-transform: capitalize;


}

.container img {
    position: relative;

    transition: 1s all;


    height: 100%;
    position: relative;

    width: 100%;
    transition: 1s all;

}

.container:hover img {

    position: relative;
    height: 100%;
    transform: scale(1.2);
    filter: blur(1px);

}

.loge a {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loge {

    background-color: rgba(53, 59, 59, 0.894);
    height: cover;
    position: absolute;
    top: 10px;
    right: -50px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    border-radius: 50%;
    padding: 6px;
    transition: all 1s;


}


.container:hover .loge {
    right: 20px;


}

.loge:hover {
    background-color: rgba(0, 128, 128, 0.611);
}

.loge:hover a {
    color: white;
    transition: 2s color;
}

.container p {
    font-size: 13px;
    color: rgb(242, 236, 236);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

.Tec {

    width: 100%;

    display: grid;
    /* display: flex;
    justify-content: space-evenly; */
    margin-top: 10px;

    grid-template-columns: repeat(auto-fit, minmax(90px, 20px));

    row-gap: 4px;
    justify-content: center;
    align-items: center;
}

.Tec div {
    background-color: rgb(31, 30, 30);
    height: 20px;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}