.container {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 210px;
    width: 300px;
    overflow: hidden;
    position: relative;

    border-radius: 10px;

    box-shadow: 7px 8px 10px 2px black;

}

.container:hover {
    cursor: pointer;
}

.readMe {
    position: absolute;
    top: 250px;
    height: 90%;
    width: 100%;

    transition: all 1s;
    ;
    padding: 5px;
    color: white;
    border-radius: 5px;

    text-align: center;
    font-size: 15px;
    font-weight: bolder;

}

.container:hover .readMe {
    background: rgb(39, 186, 182);
    background: linear-gradient(360deg, rgba(39, 186, 182, 0.7566198354341737) 89%, rgba(12, 237, 102, 0) 100%);
    top: 20px;


}


.container h2 {

    width: 100%;


}

.container img {
    position: relative;

    transition: 1s all;


    height: 100%;
    position: relative;

    width: 100%;
    transition: 1s all;

}

.container:hover img {

    position: relative;
    height: 100%;
    transform: scale(1.2);
    filter: blur(1px);

}

.loge a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loge {

    background-color: rgba(255, 255, 255, 0.95);
    height: cover;
    position: absolute;
    top: 10px;
    right: -50px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    border-radius: 50%;
    padding: 6px;
    transition: all 1s;


}


.container:hover .loge {
    right: 20px;


}

.loge:hover {
    background-color: rgba(0, 128, 128, 0.611);
}

.loge:hover a {
    color: white;
    transition: 2s color;
}