.containerNav {

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.logo {

    width: 10%;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;



}

.option {

    list-style: none;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
    color: white;
    font-size: 17px;
    font-weight: 200;
}

.option li a {

    color: white;
    text-decoration: none;

}


.option a:hover {

    color: rgb(39, 186, 182);



}


.option a:active {
    color: rgb(39, 186, 182);

}

.button {
    width: 10%;


    display: flex;
    justify-content: center;
    align-items: center;


}

.button a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 200;
}

.button button {
    width: max-content;
    height: 70%;

    background: linear-gradient(135deg, #24ff72, #2196F3);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.80em;
}


.button :hover {
    transition: all 2s;



}